/* ============================================================================== */
/*                                                                                */
/*   Wofi — Стили лаунчера                                                        */
/*   Тема: Catppuccin Mocha                                                       */
/*                                                                                */
/* ============================================================================== */

window {
    border: 2px solid #cba6f7;
    border-radius: 15px;
    background: rgba(30, 30, 46, 0.9);
}

#input {
    margin: 5px;
    border-radius: 10px;
    color: #cdd6f4;
    background: #313244;
}

#entry:selected {
    background: #cba6f7;
    border-radius: 10px;
}

#entry:selected #text {
    color: #1e1e2e;
}
